@font-face{
    font-family:Aclonica;
    src: url('../font/Aclonica.ttf');
}

@font-face{
    font-family:AutourOne;
    src: url('../font/AutourOne-Regular.ttf');
}
body{
    font-family: Verdana;
    background-color: #d8f0ff;
    /*background-color: #F1F1F1;*/
    color:#3E454C;
    margin:0;
}

/* ---HEADER--- */
header{
    position:relative;
    z-index:10;
    background-color:#F1F1F1;
    width:100%;
    height:25vh;
    background-image: url("../image/bouchons3.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size:90vw auto;
}
#logo{
    position: absolute;
    height:25vh;
}

header h1{
    display:inline-block;
    /*font-family: Aclonica;*/
    width: 70vw;
    margin-top: 10vh;
    margin-left: 15vw;
    text-align: center;
    font-size:250%;
    /*color:#3E454C;*/
    color: white;
    /*text-shadow: -1px 0 0 rgba(255,255,255,1), 1px 0 0 rgba(255,255,255,1), 0 -1px 0 rgba(255,255,255,1), 0 1px 0 rgba(255,255,255,1);*/
    text-shadow: -1px 0 0 rgba(0,0,0,0.8), 1px 0 0 rgba(0,0,0,0.8), 0 -1px 0 rgba(0,0,0,0.8), 0 1px 0 rgba(0,0,0,0.8);
}

/* ---NAV--- */
#barreNav{
    display: none;
    width: 100%;
    height: 10vh;
    background-color: white;
}

.cacherNav{
    display: block;
}

nav{
    display: block;
    position: relative;
    z-index:9;
    width: 100%;
    height:7vh;
    background-color: white;
    /*background-color: #2185C5;*/
    box-shadow: 0px 2px 5px black;
    font-size: 0;
}

nav ul{
    height: 7vh;
    list-style: none;
    margin: 0;
    padding-left: 0vw;
}

nav ul li{
    position: relative;
    display:inline-block;
    height:7vh;
}

nav ul li a{
    font-size:1.1rem;
    letter-spacing: -0.7px;
    /*font-family: AutourOne;*/
    display:block;
    color:#3E454C;
    background-color:white;
    text-decoration: none;
    padding:1.5vh 2vw 0 2vw;
    height:5.5vh;
    transition: background-color 0.2s;
}

nav ul li a p{
    margin: 0;
    padding: 0 0.8vw 0.3vh 0.8vw;
    transition: border 0.3s ease;
}

nav ul li a:hover p{
    border-width: 1.8vh;
}

.page1{
    border-bottom: 1vh solid #FFF159;
}
.page2{
    border-bottom: 1vh solid #FF7E65;
}
.page3{
    border-bottom: 1vh solid #95CC47;
}
.page4{
    border-bottom: 1vh solid #FFB86E;
}
.page0{
    border-bottom: 1vh solid #4ADBFF;
}
.active p{
    margin: 0;
    padding: 0 1vw 0.3vh 1vw;
    border-width: 1.8vh;
}

.active{

}

nav ul li a:hover{
    font-style: italic;
}

#ongletAjoutPage{
    vertical-align: top;
}

#divAjoutPage{
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    right: 0;
    top: 0;
    margin-top: 9vh;
    border: 1px solid black;
    background-color: blue;
}

#divAjoutPage input[type=text]{
    width: 80%;
    margin: 10px 10% 0 10%;
}

#divAjoutPage input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin: 10px 0;
}

#boutonAjoutPage{
    width: 5vw;
    height: 100%;
    border: none;
    background-color: white;
    background-image: url("../image/icon/boutonAjouter.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.divSupprimerPage{
    position: absolute;
    top: 100%;
    right: 0;
}

.divSupprimerPage input{
    display:block;
    width: 100%;
    height: 100%;
    border:none;
}

/* ---CORPS--- */
#corps{
    padding-bottom:2vh;
}

#corps>h1{
    /*font-family: AutourOne;*/
    margin-top: 50px;
    margin-bottom:35px;
    text-align:center;
    text-shadow:1px 2px 0 rgba(0,0,0,0.4),
             -1px -2px 0 rgba(255,255,255,1);
}

/* ---FOOTER--- */
footer{
    position:relative;
    width:100%;
    height:auto;
    margin-top: 3vh;
    background-color:#2185C5;
    box-shadow: 0px -2px 5px black;
}

footer p{
    margin-bottom: 0;
    padding:1vh 0 4vh 0;
    text-align:center;
    color:#F1F1F1;
}

footer a{
    position: absolute;
    right:3vw;
    bottom:5vh;
}

/* ---ARTICLE--- */
article{
    position: relative;
    z-index: 8;
    display: inline-block;
    background-color: white;
    width:80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 0;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

article h1{
    display:inline-block;
    /*font-family: Aclonica;*/
    width:auto;
    margin-top:5px;
    padding-top:5px;
    font-size: 170%;
    color:#1b6fa3;
    /*color: #3D444B;*/
}

article p{
    font-size: 105%;
}

.dateArticle{
    float: right;
}

.voletGestionArticle{
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 7;
    width:50px;
    height:100px;
    margin-top: 2vh;
    margin-left: -10vw;
    transition: margin 0.3s;
    /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
                0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;*/
}

article:hover + .voletGestionArticle, .voletGestionArticle:hover{
    margin-left: -1vw;
}

.voletGestionArticle form{
    width: 100%;
    height: 50%;
    margin: 0;
}

.voletGestionArticle input{
    display:block;
    width: 100%;
    height: 100%;
    border:none;
}

/*.boutonSuppr{
    background-color: red;
}

.modifierArticle input{
    background-color: blue;
}*/

#formulaireAjoutArticle, #formulaireAjoutEvenement{
    display: inline-block;
    background-color: #E5E5E5;
    width:80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}


#formulaireAjoutArticle form, #formulaireAjoutEvenement form{
    position:relative;
    width: 100%;
}
#formulaireAjoutArticle form label, #formulaireAjoutEvenement form label{
    position:absolute;
    right:67%;
    margin-top:15px;
    display:none;
}
#formulaireAjoutArticle form input[type=text], #formulaireAjoutEvenement form input[type=text]{
    width: 28%;
    margin: 15px 35%;
    padding: 5px 1%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formulaireAjoutEvenement form input[type=text]:nth-of-type(1){
    width: 34%;
    margin: 15px 32%;
 }

#formulaireAjoutEvenement form input[type=date], #formulaireAjoutEvenement form input[type=time]{
    display: block;
    width: 14%;
    min-width: 125px;
    margin: 0px auto;
    padding: 5px 1%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formulaireAjoutArticle form textarea, #formulaireAjoutEvenement form textarea{
    width: 68%;
    margin-left: 15%;
    padding: 5px 1%;
    resize: none;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
#formulaireAjoutArticle input[type=submit], #formulaireAjoutEvenement input[type=submit], #formulaireAjoutArticle input[type=button]:not(#boutonPlusFormulaireAjout), #formulaireAjoutEvenement input[type=button]:not(#boutonPlusFormulaireAjout){
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin: 15px auto;
    background-color:#FF7E65;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#boutonPlusFormulaireAjout{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #E5E5E5;
    margin: 0;
    margin-left: -10px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    font-size: 190%;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}

/* ---FORMULAIRE CONTACT--- */
#formContact{
    position:relative;
    width:40vw;
    margin-left:30vw;
    margin-bottom:100px;
}

#formContact label{
    position:absolute;
    right:77%;
    margin-top:3px;
}

#formContact input[type=text], #formContact input[type=email]{
    width:50%;
    height:15px;
    margin:5px 25%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact textarea{
    width:50%;
    margin-top:5px;
    margin-left:25%;
    margin-bottom:8px;
    padding:0;
    resize: none;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    background-color:#FF7F66;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact input[type=submit]:hover{
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

/* ---PARTENAIRE CONTACT--- */
.imgPartenaire{
    position: relative;
    display:inline-block;
    width: 20vw;
    height: auto;
    margin-left: 4vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
}

.imgPartenaire img{
    position: relative;
    z-index: 8;
    width: 100%;
    border-radius:5px;
    /*border: 1px solid black;*/
}

/* ---EVENEMENT--- */
.dateEvenement{
    font-weight: bold;
    margin-top:-10px;
}

.detailEvenement{
    font-weight: bold;
    margin-top:-5px;
}

/* ---IMAGE GALERIE--- */


.supprimerImageVideo{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    z-index: 7;
    width:3vw;
    height:25px;
    top: 0;
    right: 2vw;
    transition: right 0.3s;
}

.imgGalerie:hover .supprimerImageVideo, .albumGalerie:hover .supprimerImageVideo, .supprimerImageVideo:hover, .imgPartenaire:hover .supprimerImageVideo{
    right: -3vw;
}

.supprimerImageVideo form{
    width: 100%;
    height: 100%;
    margin: 0;
}

.supprimerImageVideo input{
    display:block;
    width: 100%;
    height: 100%;
    margin: 0;
    border:none;
}

#ajouterImage{
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    background-color: #E5E5E5;
    border-radius:5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterImage form{
    width: 100%;
    height: 100%;
}

#ajouterImage label{
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
}

#ajouterImage input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin-top: 25%;
}

.titreJaune{
    /*color: #FFF159;*/
}
.titreRouge{
    /*color: #FF7E65;*/
}
.titreVert{
    /*color: #95CC47;*/
}
.titreOrange{
    /*color: #FFB86E;*/
}
.titreBleu{
    /*color: #4ADBFF;*/
}

.icon1{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/avatar.png");
    background-position: center center;
    background-size: 100%;
}
.icon2{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/question-mark.png");
    background-position: center center;
    background-size: 100%;
}
.icon3{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/croix_medicale.png");
    background-position: center center;
    background-size: 100%;
}

#divReseauxSociaux{
    position: absolute;
    top:0;
    right:0;
    width: 15vw;
    height: 25vh;
}

.divLogoReseauxSociaux{
    position: relative;
    display:inline-block;
    width: 25%;
    margin-top: 8vh;
    margin-left: 5%;
}

.logoReseauxSociaux{
    position: relative;
    z-index: 11;
    width: 100%;
}

.supprimerLogo{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    z-index: 10;
    width:45%;
    height:25px;
    top: 0;
    right: 10%;
    transition: right 0.3s;
}

.divLogoReseauxSociaux:hover .supprimerLogo, .supprimerLogo:hover{
    right: -40%;
}

.supprimerLogo form{
    width: 100%;
    height: 100%;
    margin: 0;
}

.supprimerLogo input{
    display:block;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    border:none;
    background-color: red;
}

#divAjoutReseauxSociaux{
    position: relative;
    display:inline-block;
    vertical-align: top;
    width: 25%;
    height: 25%;
    margin-top: 8vh;
    margin-left: 5%;
}

#boutonAjoutReseauSocial{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#divAjouterLogo{
    display:none;
    position: absolute;
    z-index: 50;
    right:0;
    padding: 5px;
    color:white;
    background-color: blue;
}

#boutonInscrireNews{
    position: absolute;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font: 13.3333px Arial;
    right: 2vw;
    bottom: 2vh;
    padding: 10px;
    padding-left: 15%;
    border: none;
    border-radius: 5px;
    background-image: url("../image/icon/newsletter2.png");
    background-repeat: no-repeat;
    background-position: left 2% center;
    background-size: 15% 80%;
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#boutonInscrireNews:hover{
    background-image: url("../image/icon/newsletter.png");
    font-style: italic;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#boutonInscription{
    margin-top: 20px;
}

#menu{
    position: absolute;
    vertical-align: top;
    right: 0;
    width: 8vh;
    background-color: #F1F1F1;
    background-image: url("../image/icon/menu.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

#menuDeroulant{
    display: none;
    position: absolute;
    z-index: 100;
    top: 8vh;
    right: 0;
    border: 1px solid blue;
}



#formConnexion{
    position:relative;
    width:30vw;
    margin-left:35vw;
    margin-bottom:100px;
}

#formConnexion label{
    position:absolute;
    right:72%;
    margin-top:3px;
}

#formConnexion input[type=text], #formConnexion input[type=password]{
    width:40%;
    height:15px;
    margin:5px 30%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formConnexion input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin-top: 25px;
    background-color:#FF7F66;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formConnexion input[type=submit]:hover{
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

.messageErreurLoginPassword{
    text-align: center;
    font-size: 80%;
    color: red;
}

.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 }

.fixNavigationHeader{
    padding-top: 7vh;
}




#divChoixVillePoint{
    display: inline-block;
    margin-left: 15vw;
}

#divChoixVillePoint select{
    padding :5px;
    border-radius: 2px 5px;
}

#divChoixVillePoint form{
    display: inline-block;
}

.lieuxPoint{
    margin-left: 20vw;
}

.boutonSupprimer{
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: white;
    background-image: url("../image/icon/delete.png");
    border-radius: 0% 20% 20% 0%;
    cursor:pointer  ;
    width:70px;
    display: inline-block;
    border:none;
    margin-left: 10px;
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 0;

}

.supprimerImage{
    opacity: .99;

}
.boutonModifier{
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-color: white;
  background-image: url("../image/icon/edit.png");
  border-radius: 0% 20% 20% 0%;
  cursor:pointer  ;
  width:70px;
  display: inline-block;
  border:none;
  margin-left: 10px;
  z-index: 1;
}

input{
    margin: 15px auto;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.input_btn1{
  margin: 0 auto 10px auto;
  border-radius: 0 20% 0 0;
}

.input_btn2{
  margin: 2px auto;
  border-radius: 0 0 20% 0;
}


.albumGalerie, .imgGalerie{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20vw;
    height: auto;
    margin-left: 4vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
}

.albumGalerie img, .albumGalerie video, .imgGalerie img, .imgGalerie video{
    position: relative;
    z-index: 8;
    width: 20vw;
    height: 15vw;
    border-radius:5px;
    border:1px solid black;
    background-color: #DDDDDD;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.albumGalerie img:hover, .albumGalerie video:hover{
    filter: grayscale(100%);
}

.titreAlbum{
    display: none;
    position: absolute;
    z-index: 9;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #2185C5;
    font-size: 120%;
    font-weight: bold;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5);
}

.titreAlbumAfficher{
    display: block;
}

#ajouterImageDansAlbum{
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    background-color: #E5E5E5;
    border-radius:5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterImageDansAlbum form{
    width: 100%;
    height: 100%;
}

#ajouterImageDansAlbum label:not(#boutonParcourirFichier){
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: underline;
}

#ajouterImageDansAlbum input{
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

#ajouterImageDansAlbum input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin-top: 5%;
}

#ajouterImageDansAlbum input[type=file]{
    display: none;
}

#ajouterImageDansAlbum input[type=button]{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ajouterImageDansAlbum p{
    width: 90%;
    height: 40px;
    margin-left: 5%;
}

#boutonParcourirFichier{
    display: block;
    width: 30%;
    margin-left: 35%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#divTitreAlbum *{
    display: inline-block;
}

#divTitreAlbum a{
    margin: 1vh 1vw 0.83em 4vw;
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

#divTitreAlbum span{
    margin-left: 1vw;
    font-weight: bold;
}


.albumVide{
    position: relative;
    z-index: 8;
    width: 20vw;
    height: 15vw;
    border-radius:5px;
    background-color: #DDDDDD;
    border:1px solid black;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterAlbum{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
    background-color: #F1F1F1;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterAlbum form{
    width: 100%;
    height: 100%;
}

#ajouterAlbum input[type=text]{
    width: 70%;
    margin-left: 15%;
}

#ajouterAlbum input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
}

/**********************************/

#ajouterPartenaire{
    display: block;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #6FC0F4 ;
    border-radius: 5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterPartenaire form{
    width: 100%;
    height: 100%;
}

#ajouterPartenaire label{
    display: block;
    text-align: center;
    font-weight: bold;
    margin:2% 0 4% 0;
    text-decoration: underline;
}

#ajouterPartenaire input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    background-color: #EC7F66;
}
#ajouterPartenaire input[type=url]{
    margin-left: 25%;
    width:50%;
}
#ajouterPartenaire input[type=file]{
    margin-left: 12.5%;
    width:75%;
    background-color: #E5E5E5;
    color: grey;
}

footer form{
    display :none;
}

.divPluginReseauxSociaux{
    width: 340px;
    margin: 0 auto;
    padding-top: 3vh;
}
