@font-face{
    font-family:Aclonica;
    src: url('../font/Aclonica.ttf');
}

@font-face{
    font-family:AutourOne;
    src: url('../font/AutourOne-Regular.ttf');
}
body{
    font-family: Verdana;
    /*background-color: #d8f0ff;*/
    background-color: #B3E5FC;
    color:#3E454C;
    margin:0;
    position: relative;
    min-height: 100vh;
}

/* ---HEADER--- */
header{
    position:relative;
    z-index:100;
    background-color:#F1F1F1;
    width:100%;
    height:24vh;
    min-height: 116px;
    background-image: url("../image/banniere_fond.jpg");
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto 100%;
}

#divTitreHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/banniere_titre.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}
/*
@media screen and (min-width: 1250px) and (max-width: 1580px){
    header{
        background-position: center center;
        background-size: auto 100%;
    }
}

@media screen and (max-width: 1249px){
    header{
        background-position: center left -330px;
        background-size: auto 100%;
    }
}
*/

#logo{
    position: absolute;
    height:100%;
}

header h1{
    display:inline-block;
    /*font-family: Aclonica;*/
    width: 70vw;
    margin-top: 10vh;
    margin-left: 15vw;
    text-align: center;
    font-size:250%;
    /*color:#3E454C;*/
    color: white;
    /*text-shadow: -1px 0 0 rgba(255,255,255,1), 1px 0 0 rgba(255,255,255,1), 0 -1px 0 rgba(255,255,255,1), 0 1px 0 rgba(255,255,255,1);*/
    text-shadow: -1px 0 0 rgba(0,0,0,0.8), 1px 0 0 rgba(0,0,0,0.8), 0 -1px 0 rgba(0,0,0,0.8), 0 1px 0 rgba(0,0,0,0.8);
}

/* ---NAV--- */
#barreNav{
    position: relative;
    display: none;
    width: 100%;
    height: 60px;
    /*max-height: 70px;*/
    background-color: white;
    box-shadow: 0px 2px 5px black;
}

#boutonMenu{
    display: none;
}


nav{
    display: block;
    position: relative;
    z-index:99;
    width: 100%;
    height: 55px;
    background-color: white;
    /*background-color: #2185C5;*/
    box-shadow: 0px 2px 5px black;
    font-size: 0;
    text-align: center;
}

nav ul{
    display: inline-block;
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0vw;
}

nav ul li{
    position: relative;
    display:inline-block;
    height:100%;
}

nav ul li a{
    font-size:1.1rem;
    letter-spacing: -0.7px;
    /*font-family: AutourOne;*/
    display:block;
    color:#3E454C;
    background-color:white;
    text-decoration: none;
    padding:16px 2vw 0 2vw;
    height:100%;
    box-sizing: border-box;
    overflow: hidden;
}
@media screen and (max-width: 1200px){
    nav ul li a{
        padding-left: 1.3vw;
        padding-right: 1.3vw;
    }
}

nav ul li a p{
    margin: 0;
    padding: 0 0.8vw 3px 0.8vw;
    transition: border 0.5s ease;
}

nav ul li a:hover p{
    border-width: 25px;
}

.page1{
    border-bottom: 6px solid #FFF159;
}
.page2{
    border-bottom: 6px solid #FF7E65;
}
.page3{
    border-bottom: 6px solid #95CC47;
}
.page4{
    border-bottom: 6px solid #FFB86E;
}
.page0{
    border-bottom: 6px solid #4ADBFF;
}
.active p{
    margin: 0;
    padding: 0 1vw 3px 1vw;
    border-width: 25px;
}

.active{

}

nav ul li a:hover{
    font-style: italic;
}

/* ---CORPS--- */
#corps{
    padding-bottom:2vh;
}

#corps>h1{
    /*font-family: AutourOne;*/
    margin-top: 50px;
    margin-bottom:35px;
    text-align:center;
    text-shadow:1px 2px 0 rgba(0,0,0,0.4),
             -1px -2px 0 rgba(255,255,255,1);
}

/* ---FOOTER--- */
footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:auto;
    margin-top: 3vh;
    background-color:#2185C5;
    box-shadow: 0px -2px 5px black;
    text-align: center;
}

footer p{
    margin-bottom: 0;
    padding:1vh 0 2vh 0;
    text-align:center;
    color:#F1F1F1;
}

#mentions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    text-align:center;
}

#mentions a{
    text-decoration: none;
    color:#F1F1F1;
}

#connexion{
    position: absolute;
    right:3vw;
    bottom:5vh;
}

/* ---ARTICLE--- */
.divArticle{
    position: relative;
    width: 100%;
    margin-top: 2vh;
    box-sizing: border-box;
}

article{
    position: relative;
    z-index: 8;
    display: block;
    background-color: white;
    width:80vw;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;

}

article p img{
    max-width: 95%;
    height: auto;
}


article h1{
    display:inline-block;
    /*font-family: Aclonica;*/
    width: auto;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 170%;
    color:#1b6fa3;
    /*color: #3D444B;*/
}

article p{
    font-size: 105%;
}

.dateArticle{
    float: right;
    margin: 1em 0;
}

.voletGestionArticle{
    position: absolute;
    display: block;
    z-index: 7;
    width:4vw;
    max-width: 60px;
    height:8vw;
    max-height: 120px;
    top: 0;
    left: 86vw;
    transition: left 0.3s;
    /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
                0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;*/
}

article:hover + .voletGestionArticle, .voletGestionArticle:hover{
    left: 90vw;
}

.voletGestionArticle form{
    width: 100%;
    height: 50%;
    margin: 0;
}

.voletGestionArticle input{
    display:block;
    width: 100%;
    height: 100%;
    border:none;
}

#formulaireAjoutArticle, #formulaireAjoutEvenement{
    display: block;
    background-color: #E0E0E0;
    width:80vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}


#formulaireAjoutArticle form, #formulaireAjoutEvenement form{
    position:relative;
    width: 100%;
}
#formulaireAjoutArticle form label, #formulaireAjoutEvenement form label{
    position:absolute;
    right:67%;
    margin-top:15px;
    display:none;
}
#formulaireAjoutArticle form input[type=text], #formulaireAjoutEvenement form input[type=text]{
    width: 28%;
    margin: 15px 35%;
    padding: 5px 1%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formulaireAjoutEvenement form input[type=text]:nth-of-type(1){
    width: 34%;
    margin: 15px 32%;
 }

#formulaireAjoutEvenement form input[type=date], #formulaireAjoutEvenement form input[type=time]{
    display: block;
    width: 14%;
    min-width: 125px;
    margin: 0px auto;
    padding: 5px 1%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formulaireAjoutArticle form textarea, #formulaireAjoutEvenement form textarea{
    width: 68%;
    margin-left: 15%;
    padding: 5px 1%;
    resize: none;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}
#formulaireAjoutArticle input[type=submit], #formulaireAjoutEvenement input[type=submit], #formulaireAjoutArticle input[type=button]:not(#boutonPlusFormulaireAjout), #formulaireAjoutEvenement input[type=button]:not(#boutonPlusFormulaireAjout){
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin: 15px auto;
    background-color:#FF7E65;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#boutonPlusFormulaireAjout{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #E0E0E0;
    margin: 0;
    margin-left: -10px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    font-size: 190%;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}

/* ---FORMULAIRE CONTACT--- */
#formContact{
    display: block;
    position:relative;
    width: 40vw;
    max-width: 650px;
    margin: 0 auto 100px auto;
}

#formContact label{
    position:absolute;
    right:77%;
    margin-top:0px;
}

#formContact input[type=text], #formContact input[type=email]{
    display: block;
    width:50%;
    height:15px;
    margin: 10px auto;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact textarea{
    display: block;
    width:50%;
    margin: 10px auto;
    padding:0;
    resize: none;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    background-color:#FF7F66;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formContact input[type=submit]:hover{
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

/* ---PARTENAIRE CONTACT--- */
.imgPartenaire{
    position: relative;
    display:inline-block;
    width: 20vw;
    height: auto;
    margin-left: 4vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
}

.imgPartenaire img{
    position: relative;
    z-index: 8;
    width: 100%;
    border-radius:5px;
    /*border: 1px solid black;*/
}

/* ---EVENEMENT--- */
.dateEvenement{
    font-weight: bold;
    margin-top:-10px;
}

.inscritGris{
    -webkit-filter: grayscale(100%);
}

.detailEvenement{
    font-weight: bold;
    margin-top:-5px;
}

.divPersonneInscrite{
    display: none;
}

.divPersonneInscrite table{
    border-collapse: collapse;

}

.divPersonneInscrite table th{
    text-align: center;
}

.divPersonneInscrite table *{
    padding: 10px;
    margin: 2px;
    background-color: #E0E0E0;
    border: 1px solid black;
}

.lblPersonneInscrite{
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
}

.lienPersonneInscrite{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 2px;
    background-image: url("../image/icon/voir.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
    cursor: pointer;
}

.lienPersonneInscrite img{
    width: 100%;
    height: 100%;
}

/* ---IMAGE GALERIE--- */


.supprimerImageVideo{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    z-index: 7;
    width: 3vw;
    height: 3vw;
    padding-left: 1vw;
    top: 0;
    right: 2vw;
    transition: right 0.3s;
    background-color: white;
    border-radius: 0 20% 20% 0;
}

.imgGalerie:hover .supprimerImageVideo, .albumGalerie:hover .supprimerImageVideo, .supprimerImageVideo:hover, .imgPartenaire:hover .supprimerImageVideo{
    right: -3vw;
}

.supprimerImageVideo form{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0 20% 20% 0;
}

.supprimerImageVideo input{
    display:block;
    width: 100%;
    height: 100%;
    margin: 0;
    border:none;
    border-radius: 0 20% 20% 0;
    background-color: inherit;
}

#ajouterImage{
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    background-color: #E0E0E0;
    border-radius:5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterImage form{
    width: 100%;
    height: 100%;
}

#ajouterImage label{
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
}

#ajouterImage input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin-top: 25%;
    background-color:#FF7F66;
}

.titreJaune{
    /*color: #FFF159;*/
}
.titreRouge{
    /*color: #FF7E65;*/
}
.titreVert{
    /*color: #95CC47;*/
}
.titreOrange{
    /*color: #FFB86E;*/
}
.titreBleu{
    /*color: #4ADBFF;*/
}

.icon1{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/avatar.png");
    background-position: center center;
    background-size: 100%;
}
.icon2{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/question-mark.png");
    background-position: center center;
    background-size: 100%;
}
.icon3{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    background-image: url("../image/icon/croix_medicale.png");
    background-position: center center;
    background-size: 100%;
}

#divReseauxSociaux{
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    margin: 3vh auto 0 auto;
    padding-right: 32px;
}

.divLogoReseauxSociaux{
    position: relative;
    display:inline-block;
    width: 96px;
    margin-top: 5%;
    margin-left: 32px;
}

.logoReseauxSociaux{
    position: relative;
    z-index: 11;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.supprimerLogo{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    z-index: 7;
    width:28px;
    height:28px;
    top: 0;
    right: 2vw;
    transition: right 0.3s;
}

.divLogoReseauxSociaux:hover .supprimerLogo, .supprimerLogo:hover{
    right: -28px;
}

.supprimerLogo form{
    width: 100%;
    height: 100%;
    margin: 0;
}

.supprimerLogo input{
    display:block;
    width: 100%;
    height: 100%;
    margin: 0;
    border:none;
    border-radius: 0 5px 5px 0;
}


#divAjoutReseauxSociaux{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 96px;
    margin-top: 5%;
    margin-left: 32px;
}

#boutonAjoutReseauSocial{
    position: relative;
    z-index: 51;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: border-radius 0.5s;
}

#divAjouterLogo{
    display:none;
    position: absolute;
    z-index: 50;
    bottom: 96px;
    right:0;
    padding: 8px;
    color: inherit;
    background-color: #E0E0E0;
    border-radius: 5px 5px 0 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#divAjouterLogo label{
    display: block;
    text-align: center;
}

#divAjouterLogo input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boutonInscrireNews{
    position: absolute;
    width: 160px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font: 13.3333px Arial;
    right: 2vw;
    bottom: 20px;
    padding: 10px 0 10px 25px;
    border: none;
    border-radius: 5px;
    background-image: url("../image/icon/newsletter2.png");
    background-repeat: no-repeat;
    background-position: left 2% center;
    background-size: 15% 80%;
    background-color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
    box-sizing: content-box;
}

#boutonInscrireNews:hover{
    background-image: url("../image/icon/newsletter.png");
    font-style: italic;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#boutonInscription{
    margin-top: 20px;
}

#menu{
    position: absolute;
    vertical-align: top;
    right: 0;
    width: 8vh;
    background-color: #F1F1F1;
    background-image: url("../image/icon/menu.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

#menuDeroulant{
    display: none;
    position: absolute;
    z-index: 100;
    top: 8vh;
    right: 0;
    border: 1px solid blue;
}



#formConnexion{
    display: block;
    position: relative;
    width: 40vw;
    margin: 0 auto 100px auto;
}

#formConnexion label{
    position:absolute;
    right: 72%;
    margin-top: 0px;
    white-space: nowrap;
}

#formConnexion input[type=text], #formConnexion input[type=password]{
    display: block;
    width:40%;
    height:15px;
    margin:10px auto;
    border-radius:5px;
    border:1px solid #D3D3D3;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formConnexion input[type=submit]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px 15px;
    margin-top: 25px;
    background-color:#FF7F66;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#formConnexion input[type=submit]:hover{
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

.messageErreurLoginPassword{
    text-align: center;
    font-size: 80%;
    color: red;
}

.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 }

.fixNavigationHeader{
    padding-top: 7vh;
}


/***********Statistisque************/

#bouteille{
    width: 10em;
    height: 15em;
}
#tabStat td {
    text-align: center;

}

#divChoixVillePoint{
    display: inline-block;
    margin-left: 15vw;
}

#divChoixVillePoint select{
    padding :5px;
    border-radius: 2px 5px;
}

#divChoixVillePoint form{
    display: inline-block;
}

.lieuxPoint{
    margin-left: 20vw;
}

.boutonSupprimer{
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    background-color: white;
    background-image: url("../image/icon/delete.png");
    border-radius: 0% 20% 20% 0%;
    cursor: pointer;
    width: 70px;
    display: inline-block;
    border: none;
    margin-left: 10px;
    z-index: 1;
    margin-top: 0px;
    margin-bottom: 0;

}

.boutonModifier, .boutonSupprimer{
    text-align: left;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
}

.supprimerPointDeCollecte .boutonSupprimer, .modifierPointDeCollecte .boutonModifier{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.supprimerImage{
    opacity: .99;

}
.boutonModifier{
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
  background-color: white;
  background-image: url("../image/icon/edit.png");
  border-radius: 0% 20% 20% 0%;
  cursor:pointer  ;
  width:70px;
  display: inline-block;
  border:none;
  margin-left: 10px;
  z-index: 1;
}

input{
    margin: 15px auto;
    color:#3E454C;
    font-size:110%;
    font-weight:bold;
    border-radius:5px;
    border:none;
    outline: none;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

input[type=submit]{
    cursor: pointer;
}

.input_btn1{
  margin: 0 auto 10px auto;
  border-radius: 0 20% 0 0;
}

.input_btn2{
  margin: 2px auto;
  border-radius: 0 0 20% 0;
}


.albumGalerie, .imgGalerie{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20vw;
    height: auto;
    margin-left: 3.9vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
}

.albumGalerie img, .albumGalerie video, .imgGalerie img, .imgGalerie video{
    position: relative;
    z-index: 8;
    width: 20vw;
    height: 15vw;
    border-radius:5px;
    border:1px solid black;
    background-color: #DDDDDD;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

.albumGalerie video, .imgGalerie video{
    background-color: black;
}

.albumGalerie:hover img, .albumGalerie:hover video{
    filter: grayscale(100%);
}

.titreAlbum{
    display: none;
    position: absolute;
    z-index: 9;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #2185C5;
    font-size: 120%;
    font-weight: bold;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5);
    cursor: pointer;
}

.titreAlbumAfficher{
    display: block;
}

#ajouterImageDansAlbum{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    text-align: center;
    background-color: #E0E0E0;
    border-radius:5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterImageDansAlbum form{
    width: 100%;
    height: 100%;
}

#ajouterImageDansAlbum label:not(#boutonParcourirFichier){
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-decoration: underline;
}

#ajouterImageDansAlbum input{
    background-color: white;
    cursor: pointer;
    padding: 5px;
}

#ajouterImageDansAlbum input[type=submit]{
    position: absolute;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color:#FF7F66;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 10%;
}

#ajouterImageDansAlbum input[type=file]{
    display: none;
}

#ajouterImageDansAlbum input[type=button]{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ajouterImageDansAlbum p{
    width: 90%;
    height: 40px;
    margin-left: 5%;
}

#boutonParcourirFichier{
    display: inline-block;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#divTitreAlbum *{
    display: inline-block;
}

#divTitreAlbum a{
    margin: 1vh 1vw 0.83em 4vw;
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

#divTitreAlbum span{
    margin-left: 1vw;
    font-weight: bold;
}


.albumVide{
    position: relative;
    z-index: 8;
    width: 20vw;
    height: 15vw;
    border-radius:5px;
    background-color: #DDDDDD;
    border:1px solid black;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterAlbum{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20vw;
    height: 15vw;
    margin-left: 4vw;
    margin-right: -0.25em;
    margin-bottom: 4vw;
    background-color: #F1F1F1;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
}

#ajouterAlbum form{
    width: 100%;
    height: 100%;
}

#ajouterAlbum input[type=text]{
    display: block;
    width: 70%;
    margin: 10% auto;
}

#ajouterAlbum input[type=submit]{
    position: absolute;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color:#FF7F66;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 10%;
}

/**********************************/

#ajouterPartenaire{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    height: auto;
    margin-left: 4vw;
    padding-top: 10px;
    padding-bottom: calc(5%);
    background-color: #E0E0E0;
    text-align: center;
    border-radius:5px;
    box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;

}

#ajouterPartenaire form{
    width: 100%;
    height: 100%;
}

#ajouterPartenaire label:not(#boutonParcourirFichier){
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
    text-decoration: underline;
}


#ajouterPartenaire input[type=submit]{
    position: absolute;
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    left: 50%;
    background-color: #FF7F66;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 5%;
}

#ajouterPartenaire input[type=file]{
    display: none;

}


#ajouterPartenaire input[type=url]{
    display: inline-block;
    width: 60%;
    margin: 0;
}

/*******/
#divInscrireNews{
    position: absolute;
    top:0;
    right:0;
    width: 17vw;
    height: 100%;
}


.lienInscrire{
    text-decoration: none;
    color: inherit;
}
.imgInscrire{
    padding: 5px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.inscrire{
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.divInscription{
    position: absolute;
    top: 20px;
    right: 10px;
}

.bordureCarrée{
    border-radius: 0 0 5px 5px;
}

#nomFichierAUploader{
    font-style: italic;
}
